body{
  background: linear-gradient(to right, #000428, #004e92);
  color:#ddd
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px; /* Space for the fixed navbar */
  padding: 20px;
  border-radius: 10px;
  color: #ddd; /* Text color */
}

.dashboard-summary {
  text-align: center;
  margin: 20px 0;
}

.dashboard-summary h3 {
  font-size: 24px;
}

.chart-table-container {
  display: block;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (min-width: 998px) {
  .chart-table-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.chart-container {
  max-width: 500px;
  margin: 0 auto 20px;
  padding: 20px;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.chart-container .chartjs-legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  color: #ddd; 
  position: absolute;
  top: 50px; 
  right: 20px; 
}

.chart-container .chartjs-legend ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.chart-container .chartjs-legend ul li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.chart-container .chartjs-legend ul li span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.website-details {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  color: #ddd;
  flex: 1;
}

.website-details h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: transparent;
}

table th,
table td {
  text-align: left;
  padding: 12px;
  color: #ddd;
}

table th {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 18px;
}

table tbody tr {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

table tbody tr:last-child {
  border-bottom: none;
}

table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
