.limits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 70px; /* Space for the fixed navbar */
  border-radius: 10px;
  background: linear-gradient(to right, #000428, #004e92); /* Matching the theme */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #ddd; /* Text color */
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 768px) {
  .row {
    flex-direction: row;
    justify-content: space-between;
  }
}

.left-column, .right-column {
  flex: 1;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}

h2 {
  color: #fff;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #ddd;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.button-set-limit {
  padding: 10px 20px;
  background-color: #004e92;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-set-limit:hover {
  background-color: #003d73;
}

/* Specific styles for the Limits component */
.limits-list {
  list-style: none;
  padding: 0;
}

.limits-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: #fff;
}

.limits-list li button {
  background-color: #e57373;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.limits-list li button:hover {
  background-color: #d32f2f;
}
