.restrictedList-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 70px; /* Space for the fixed navbar */
  border-radius: 10px;
  background: linear-gradient(to right, #000428, #004e92); /* Matching the theme */
  color: #ddd; /* Text color */
}

.restrictedList-title {
  color: #fff;
  margin-bottom: 20px;
}

.restrictedList-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 70%;
}

.restrictedList-input {
  width: 70%; /* Reduced width */
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.restrictedList-add-btn {
  margin-bottom: 15px;
  padding: 10px 20px;
  background-color: #0066cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.restrictedList-add-btn:hover {
  background-color: #005bb5;
  transform: scale(1.1);
}

.restrictedList-error {
  color: #e57373;
  margin-bottom: 20px;
}

.restrictedList-list {
  list-style: none;
  padding: 0;
  width: 50%;
}

.restrictedList-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: #fff;
}

.restrictedList-delete-btn {
  background-color: #e57373;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.restrictedList-delete-btn:hover {
  background-color: #d32f2f;
  transform: scale(1.1);
}
