/* Index.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4; /* Light grey background */
  min-width: 500px;
  min-height: 500px;
}

code {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: flex-start; /* Align items to the top */
  margin-top: 20px; /* Add some top margin for separation */
}

.chart-container canvas {
  max-width: 400px; /* Adjust the max-width according to your preference */
}
